name: Cron Job

on:
  schedule:
    - cron: '*/5 * * * *' # Run every 5 minutes
  workflow_dispatch: # Allow manual triggering

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call Cron Endpoint
        run: |
          curl -X GET ${{ secrets.VERCEL_PROJECT_PRODUCTION_URL }}/api/cron/check-monitors \
          -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}"
